<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Online shop</title>
    <style>
        .list-group-item {
            display: list-item;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Online-shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order}">My orders</a>
            </li>
        </ul>
        <button type="button" th:onclick="'window.location.href = \'' + @{/logout} +'\'' "
                class="btn btn-outline-success my-2 my-sm-0 ">Logout
        </button>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center" style="margin: 20px">
        <h1 th:text="${'Dear ' + user.name + ', your order:'}"></h1>
    </div>
    <div class="row justify-content-center">
        <div th:if="${session.addedItems.isEmpty()}" class="col-8">
            <p class="h5">You shopping cart is empty!</p>
        </div>
        <div class="col-8" th:if="${session.addedItems.isEmpty() == false}">
            <ol th:name="selectedItem" class="item-steps list-group">
                <li class="list-group-item"
                    th:each="item : ${session.addedItems}"
                    th:text="${item.title + ' ' + item.price + '$'}">
                </li>
            </ol>
            <p th:text="'Total: ' + ${totalCost} + '$'" class="h5" style="margin-top: 20px"></p>
            <form action="order" method="post" style="margin: 20px">
                <button type="submit" class="btn btn-primary">Make order</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
