<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Online shop</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Online-shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order}">My orders</a>
            </li>
        </ul>
        <button type="button" th:onclick="'window.location.href = \'' + @{/logout} +'\'' "
                class="btn btn-outline-success my-2 my-sm-0 ">Logout
        </button>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8" style="margin-top: 20px">
            <p class="h5" th:if="${userOrders.isEmpty()}">Your order's list is empty!</p>
            <div th:if="${userOrders.isEmpty() == false}">
                <p class="h5">Your order's list:</p>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Total price</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="order : ${userOrders}">
                        <th th:text="${order.id}" scope="row"></th>
                        <td th:text="${order.totalPrice + '$'}"></td>
                        <td style="width: 20%">
                            <button type="button" th:onclick="'window.location.href = \'' + @{/order/{id}(id=${order.id})} +'\'' "
                                    class="btn btn-outline-success my-2 my-sm-0 ">Show details
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </c:if>
            </div>
        </div>
    </div>
</body>
</html>
