<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Online shop</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Online-shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/orders}">My orders</a>
            </li>
        </ul>
        <button type="button" th:onclick="'window.location.href = \'' + @{/logout} +'\'' "
                class="btn btn-outline-success my-2 my-sm-0 ">Logout
        </button>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center" style="margin: 20px">
        <h1 th:text="${'Hello ' + user.name +'!'}"></h1>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 20px">
        <div class="col-8">
            <p class="h5">Make your order</p>
            <div id="goods">
            </div>
            <script th:src="@{/js/shop.js}"></script>
        </div>
    </div>
</div>
</body>
</html>
