<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Online shop</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div style="margin: 20px" class="col-8">
            <p class="h5" style="margin-bottom: 10px" th:text="'Order #' + ${orderId}"></p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="good : ${goods}">
                    <th scope="row" th:text="${good.title}"></th>
                    <td th:text="${good.price} + '$'"></td>
                </tr>
                </tbody>
            </table>
            <p class="h5" style="margin-top: 20px" th:text="'Total: ' + ${totalPrice} + '$'"></p>
        </div>
    </div>
</div>
</body>
</html>
