<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Online shop</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{/}">Online-shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/}">Shop</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/order}">My orders</a>
            </li>
        </ul>
        <button type="button" th:onclick="'window.location.href = \'' + @{/logout} +'\'' "
                class="btn btn-outline-success my-2 my-sm-0 ">Logout
        </button>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center" style="margin: 20px">
        <h1 th:text="${'Hello ' + user.name +'!'}"></h1>
    </div>
    <div class="row justify-content-center" style="margin-bottom: 20px">
        <div class="col-8">
            <p class="h5">Make your order</p>
<!--            <p class="h5" th:text="${@goodsService.getGoodById(1)}"></p>-->
            <form method="post">
                <div class="input-group">
                    <select th:name="selectedItem" class="custom-select">
                        <option th:each="good : ${@goodsService.getGoods()}"
                                th:text="${good.title + ' - ' + good.price}"
                                th:value="${good.id}"></option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">Add to cart</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row justify-content-center">
        <div th:if="${addedItems.isEmpty()}" class="col-8">
            <p class="h5">You shopping cart is empty!</p>
        </div>
        <div th:if="${addedItems.isEmpty() == false}" class="col-8">
            <p class="h5">You have already chosen:</p>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,iterCount : ${addedItems}">
                    <th scope="row" th:text="${iterCount.index+1}"></th>
                    <td th:text="${item.title}"></td>
                    <td th:text="${item.price}"></td>
                    <td style="width: 20%">
                        <form class="form-inline my-2 my-lg-0" method="post">
                            <input hidden name="deletedItem" th:value="${iterCount.index}">
                            <button type="submit" class="btn btn-outline-danger my-2 my-sm-0 ">Delete item
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
            <form action="checkout" method="post" style="margin: 20px">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>
